In [8]:
import pandas as pd
# Use double backslashes
# df1 = pd.read_csv("D:\\SW_project\\student-scores.csv")
# Or use a raw string
# df1 = pd.read_csv("C:\Users\rohit\OneDrive\Desktop\SW_project\student-scores.csv")
df1 = pd.read_csv(r"C:\Users\rohit\OneDrive\Desktop\SW_project\student-scores.csv")

df = df1.copy()
df.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

In [9]:
df.columns
df.drop(columns=['id','first_name','last_name','email'],axis=1, inplace=True)

In [10]:
df["total_score"] = df["math_score"] + df["history_score"] + df["physics_score"] + df["chemistry_score"] + df["biology_score"] + df["english_score"] + df["geography_score"]
df["average_score"] = df["total_score"] / 7
df.head()

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87,574,82.000000
1,female,False,2,False,47,Doctor,90,86,96,100,90,88,90,640,91.428571
2,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94,605,86.428571
3,female,False,5,False,3,Artist,71,74,88,80,89,63,86,551,78.714286
4,male,False,5,False,10,Unknown,84,77,65,65,80,74,76,521,74.428571

In [11]:
gender_map = {'male': 0, 'female': 1}
part_time_job_map = {False: 0, True: 1}
extracurricular_activities_map = {False: 0, True: 1}
career_aspiration_map = {
        'Lawyer': 0, 'Doctor': 1, 'Government Officer': 2, 'Artist': 3, 'Unknown': 4,
        'Software Engineer': 5, 'Teacher': 6, 'Business Owner': 7, 'Scientist': 8,
        'Banker': 9, 'Writer': 10, 'Accountant': 11, 'Designer': 12,
        'Construction Engineer': 13, 'Game Developer': 14, 'Stock Investor': 15,
        'Real Estate Developer': 16
    }

In [12]:
df['gender'] = df['gender'].map(gender_map)

In [13]:
df['part_time_job'] = df['part_time_job'].map(part_time_job_map)

In [14]:
df['extracurricular_activities'] = df['extracurricular_activities'].map(extracurricular_activities_map)

In [15]:
df['career_aspiration'] = df['career_aspiration'].map(career_aspiration_map)

In [16]:
df.head()

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,0,0,3,0,27,0,73,81,93,97,63,80,87,574,82.000000
1,1,0,2,0,47,1,90,86,96,100,90,88,90,640,91.428571
2,1,0,9,1,13,2,81,97,95,96,65,77,94,605,86.428571
3,1,0,5,0,3,3,71,74,88,80,89,63,86,551,78.714286
4,0,0,5,0,10,4,84,77,65,65,80,74,76,521,74.428571

In [17]:
df['career_aspiration'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16],
      dtype=int64)

In [18]:
df['career_aspiration'].value_counts()

career_aspiration
5     315
7     309
4     223
9     169
0     138
11    126
1     119
16     83
15     73
13     68
3      67
14     63
2      61
6      59
12     56
8      39
10     32
Name: count, dtype: int64

In [19]:
from imblearn.over_sampling import SMOTE

# Create SMOTE object
smote = SMOTE(random_state=42)

# Separate features and target variable
X = df.drop('career_aspiration', axis=1)
y = df['career_aspiration']

# Apply SMOTE to the data
X_resampled, y_resampled = smote.fit_resample(X, y)

In [20]:
X_resampled.shape

(5355, 14)

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_resampled,y_resampled,test_size=0.2, random_state=42)

In [22]:
X_train.shape, y_train.shape

((4284, 14), (4284,))

In [23]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler to the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import warnings
warnings.filterwarnings("ignore")

In [25]:
# Define models
models = {
    "Logistic Regression": LogisticRegression(),
    "Support Vector Classifier": SVC(),
    "Random Forest Classifier": RandomForestClassifier(),
    "K Nearest Neighbors": KNeighborsClassifier(),
    "Decision Tree Classifier": DecisionTreeClassifier(),
    "Gradient Boosting Classifier": GradientBoostingClassifier(),
    "XGBoost Classifier": XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')
}

# Train and evaluate each model
for name, model in models.items():
    print("="*500)
    print("Model:", name)
    # Train the model
    model.fit(X_train_scaled, y_train)
    
    # Predict on test set
    y_pred = model.predict(X_test_scaled)
    
    # Calculate metrics
    accuracy = accuracy_score(y_test, y_pred)
    classification_rep = classification_report(y_test, y_pred)
    conf_matrix = confusion_matrix(y_test, y_pred)
    
    # Print metrics
    print("Accuracy:", accuracy)
    print("Confusion Matrix:\n", conf_matrix)

====================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================
Model: Logistic Regression
Accuracy: 0.48739495798319327
Confusion Matrix:
 [[37  4  0  0  0  7  0  0  4  1 10  3  0  2  0  0  0]
 [ 2 45  0  0  0  7  0  0 13  0  0  0  0  5  0  0  0]
 [ 0  0 25  5  1  1  9  1  0  0  2  0  4  1  2  2  4]
 [ 0  0  2 33  0  0  2  1  0  0  0  0  0  0 11  0  9]
 [ 6  5  7  3 11  9  7  1  2  3  0  3  3  2  1  2  1]
 [ 8  9  0  0  1 24  1  0  1  7  1  5  3 12  0  4  0]
 [ 0  0  0  0  1  2 65  0  0  1  2  0  0  0  0  0  0]
 [ 0  0  0  3  0  0  0 55  0  0  0  0  0  0  3  0  0]
 [ 4 18  0  0  0  1  0  0 24  0  6  0  0  0  0  0  0]
 [10  1  0  0  3  8  8  0  1  6  2  8  6  6  0  2  0]
 [ 8  2  0  0  1  0  4  0  2  1 45  0  0  0  0  0  0]
 [ 0  1  0  0  4  6  3  0  4  1  0 24  1  3  0  6  0]
 [ 2  2  8  3  5  2  7  0  3  0  4  0 11  6  8  5  2]
 [ 1  2  2  0  3  0  0  0  5  1  1  4  4 27  0  5  0]
 [ 0  0  0  3  0  0  0  0  0  0  0  0  0  0 53  0  1]
 [ 4  3  3  0  5  8  1  2  0  0  2  7  4  7  1 15  1]
 [ 0  0 13 13  0  1  5  6  0  0  1  0  0  0  8  0 22]]
====================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================
Model: Support Vector Classifier
Accuracy: 0.6470588235294118
Confusion Matrix:
 [[42  6  0  0  0  4  0  0  2  4  6  0  0  3  0  1  0]
 [ 1 60  0  0  0  1  0  0  5  0  0  0  1  3  0  1  0]
 [ 0  0 42  2  2  1  4  0  0  0  0  0  2  0  0  3  1]
 [ 0  0  2 50  0  0  0  1  0  0  0  0  0  0  3  0  2]
 [ 5  8  7  1 12  7  5  2  1  7  0  2  4  3  1  1  0]
 [10  7  1  0  1 24  1  1  5 12  0  1  1 11  0  1  0]
 [ 0  0  0  0  0  1 66  0  0  2  1  0  0  0  0  0  1]
 [ 0  0  0  1  0  0  1 57  0  0  0  0  0  0  1  0  1]
 [ 1  8  0  0  0  1  0  0 43  0  0  0  0  0  0  0  0]
 [ 8  1  1  0  0  7  6  1  3 20  1  0  4  5  0  4  0]
 [ 2  1  4  0  0  0  0  0  0  1 54  0  0  1  0  0  0]
 [ 0  3  1  0  3  5  0  1  3  2  1 27  1  3  0  3  0]
 [ 2  1  0  3  2  1  8  0  2  0  1  1 35  4  4  0  4]
 [ 0  3  0  0  0  1  0  0  2  1  0  1  0 47  0  0  0]
 [ 0  0  0  0  0  0  1  2  0  0  0  0  1  0 53  0  0]
 [ 5  2  3  0  2  4  0  0  0  3  0  1  4  9  1 28  1]
 [ 0  0  9 15  0  2  2  1  0  0  0  0  1  0  6  0 33]]
====================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================
Model: Random Forest Classifier
Accuracy: 0.8272642390289449
Confusion Matrix:
 [[60  5  0  0  1  1  0  0  0  0  0  0  0  0  0  1  0]
 [ 0 71  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0]
 [ 0  0 56  0  0  0  1  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0 55  0  0  0  1  0  0  0  0  0  0  2  0  0]
 [ 4  4  9  0 28  6  1  0  2  4  1  2  3  0  1  0  1]
 [ 6  6  0  0  2 24  2  0  7 10  1  4  2 10  0  2  0]
 [ 0  0  0  0  0  0 70  0  0  0  0  0  1  0  0  0  0]
 [ 0  0  0  3  0  0  0 56  0  0  0  0  0  0  1  0  1]
 [ 0  1  0  0  0  0  0  0 52  0  0  0  0  0  0  0  0]
 [ 2  1  1  0  0  1  3  0  2 43  3  1  3  0  0  1  0]
 [ 3  0  0  0  0  0  0  0  0  0 60  0  0  0  0  0  0]
 [ 0  2  0  0  2  6  0  0  3  1  0 38  0  1  0  0  0]
 [ 0  0  2  0  1  0  1  0  1  0  1  0 59  1  2  0  0]
 [ 0  0  0  0  0  0  0  0  2  0  0  0  0 52  0  1  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 57  0  0]
 [ 3  1  0  0  1  3  0  0  0  2  0  3  0  3  0 47  0]
 [ 0  1  3  6  0  0  0  1  0  0  0  0  0  0  0  0 58]]
====================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================
Model: K Nearest Neighbors
Accuracy: 0.6778711484593838
Confusion Matrix:
 [[46  2  0  0  0  3  0  0  1  8  6  0  0  0  0  2  0]
 [ 4 56  0  0  1  0  0  0  4  1  1  0  1  1  0  3  0]
 [ 0  0 49  1  0  0  0  0  0  0  2  0  0  0  1  1  3]
 [ 0  0  4 47  0  0  0  1  0  1  0  0  0  0  3  0  2]
 [ 4  5  5  5 11  6  6  1  2  7  1  1  6  1  1  1  3]
 [10  6  2  0  7 11  1  1  6  9  0  3  6 10  0  4  0]
 [ 0  0  1  2  0  0 65  0  0  2  0  0  0  0  1  0  0]
 [ 0  0  1  3  2  0  1 44  0  2  0  1  2  1  1  1  2]
 [ 1  4  0  0  0  0  0  0 48  0  0  0  0  0  0  0  0]
 [ 6  0  2  1  3  3  1  1  2 29  1  4  4  0  0  3  1]
 [ 2  0  2  0  0  0  0  0  0  1 58  0  0  0  0  0  0]
 [ 0  2  2  0  0  5  0  0  3  2  1 34  1  2  1  0  0]
 [ 1  1  2  2  0  0  1  0  0  2  1  1 54  0  0  3  0]
 [ 2  0  0  0  4  0  0  0  3  0  0  0  0 44  1  1  0]
 [ 0  0  1  1  0  1  0  0  0  0  0  0  1  1 51  1  0]
 [ 2  1  1  4  2  1  1  0  3  2  0  4  0  3  0 39  0]
 [ 0  0  6 12  1  1  2  1  0  0  1  0  1  1  2  1 40]]
====================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================
Model: Decision Tree Classifier
Accuracy: 0.6872082166199813
Confusion Matrix:
 [[40  4  0  0  1  9  0  0  0  1  5  3  2  1  0  2  0]
 [ 2 63  0  0  0  2  0  0  2  0  0  3  0  0  0  0  0]
 [ 0  0 41  1  1  1  0  0  0  3  0  0  4  1  0  2  3]
 [ 0  0  0 45  1  0  0  2  0  0  0  0  1  0  5  0  4]
 [ 3  3  5  0 25  4  3  0  2  8  2  2  1  0  1  2  5]
 [ 6  5  0  0  8 19  1  0  3  8  2  5  4  9  0  6  0]
 [ 0  0  3  0  3  2 59  0  0  1  1  0  2  0  0  0  0]
 [ 0  0  1  0  4  0  0 49  0  0  0  0  1  0  2  0  4]
 [ 1  1  0  0  0  0  0  0 48  1  1  1  0  0  0  0  0]
 [ 5  0  0  0  2  4  3  0  2 32  2  4  0  0  0  7  0]
 [ 1  1  0  0  0  0  0  0  1  4 55  0  1  0  0  0  0]
 [ 0  2  0  0  3  2  2  0  2  1  0 36  2  1  0  2  0]
 [ 0  1  1  1  4  1  0  0  0  2  0  0 48  3  1  2  4]
 [ 2  1  1  0  0  0  0  0  0  3  0  1  0 44  0  3  0]
 [ 0  0  0  2  1  0  0  0  0  0  0  0  2  0 51  0  1]
 [ 1  1  3  0  1  5  0  0  0  3  0  7  1  9  0 32  0]
 [ 0  0  4  5  3  1  0  1  0  1  0  0  1  0  1  3 49]]
====================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================
Model: Gradient Boosting Classifier
Accuracy: 0.738562091503268
Confusion Matrix:
 [[55  3  0  0  1  5  0  0  0  1  0  1  1  1  0  0  0]
 [ 1 69  0  0  0  1  0  0  1  0  0  0  0  0  0  0  0]
 [ 0  0 49  1  0  1  3  0  0  0  0  0  0  0  0  0  3]
 [ 0  0  0 53  0  0  0  1  0  0  0  0  1  0  2  0  1]
 [ 4  4 12  2 12 10  1  0  2  5  2  2  4  2  1  2  1]
 [10  2  0  0  3 31  1  0  3  9  1  2  0 12  0  2  0]
 [ 0  0  1  0  0  0 70  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  2  0  0  0 58  0  0  0  0  0  0  1  0  0]
 [ 0  1  0  0  0  0  0  0 52  0  0  0  0  0  0  0  0]
 [ 3  0  3  0  1  4  4  0  4 26  4  3  2  3  0  4  0]
 [ 2  1  0  0  0  0  0  0  0  0 60  0  0  0  0  0  0]
 [ 1  3  1  0  1  4  3  0  3  4  0 31  0  2  0  0  0]
 [ 1  0  6  2  1  3  1  0  1  1  1  1 41  3  2  2  2]
 [ 1  1  2  0  0  1  0  0  1  0  0  0  0 47  0  2  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  1  0 56  0  0]
 [ 2  2  2  0  3  8  0  0  1  2  0  3  1  3  0 35  1]
 [ 0  0  5  8  2  0  2  1  0  0  0  0  4  0  1  0 46]]
====================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================
Model: XGBoost Classifier
Accuracy: 0.8272642390289449
Confusion Matrix:
 [[58  3  0  0  2  1  0  0  0  1  0  1  0  1  0  1  0]
 [ 1 68  0  0  0  0  0  0  1  1  0  0  1  0  0  0  0]
 [ 0  0 52  0  0  1  1  0  0  1  0  0  1  0  0  0  1]
 [ 0  0  0 53  0  0  0  1  0  0  0  0  0  0  2  0  2]
 [ 4  3  6  0 28  9  2  0  2  6  1  0  2  0  1  2  0]
 [ 8  4  0  0  0 32  0  0  2 10  0  4  0 11  0  5  0]
 [ 0  0  0  0  0  0 69  0  0  2  0  0  0  0  0  0  0]
 [ 0  0  0  3  0  0  0 57  0  0  0  0  0  0  0  0  1]
 [ 0  0  0  0  0  0  0  0 53  0  0  0  0  0  0  0  0]
 [ 1  0  2  0  0  4  1  0  2 43  0  3  2  0  0  3  0]
 [ 0  0  0  0  0  0  0  0  1  0 61  0  0  1  0  0  0]
 [ 1  2  0  0  0  4  2  0  2  3  0 38  0  1  0  0  0]
 [ 0  1  1  0  0  0  0  0  0  0  0  1 63  0  2  0  0]
 [ 0  0  1  0  0  2  0  0  0  0  0  0  0 50  0  2  0]
 [ 0  0  0  0  0  0  0  1  0  0  0  0  0  0 56  0  0]
 [ 1  1  0  0  1  5  0  0  0  3  0  4  0  3  0 45  0]
 [ 0  0  2  5  1  0  0  1  0  0  0  0  0  0  0  0 60]]

In [26]:
model = RandomForestClassifier()

model.fit(X_train_scaled, y_train)
# Predict on test set
y_pred = model.predict(X_test_scaled)

# Calculate metrics
print("Accuracy: ",accuracy_score(y_test, y_pred))
print("Confusion Matrix: ",confusion_matrix(y_test, y_pred))

Accuracy:  0.8366013071895425
Confusion Matrix:  [[61  3  0  0  1  0  0  0  0  1  1  1  0  0  0  0  0]
 [ 0 71  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0]
 [ 0  0 53  0  0  0  1  0  0  0  0  0  0  0  0  0  3]
 [ 0  0  0 55  0  0  0  1  0  0  0  0  0  0  2  0  0]
 [ 3  3  8  0 28  9  0  0  2  2  1  0  3  1  1  3  2]
 [ 8  5  0  0  3 30  0  0  7 10  0  0  0 11  0  2  0]
 [ 0  0  0  0  0  0 71  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  2  0  0  0 57  0  0  0  0  0  0  2  0  0]
 [ 0  0  0  0  0  0  0  0 53  0  0  0  0  0  0  0  0]
 [ 2  1  0  0  0  5  1  0  2 46  1  1  2  0  0  0  0]
 [ 1  0  0  0  0  0  0  0  0  0 62  0  0  0  0  0  0]
 [ 0  2  0  0  2  6  0  0  2  1  0 39  0  1  0  0  0]
 [ 0  0  1  0  1  1  2  0  0  0  1  0 59  0  2  1  0]
 [ 0  0  2  0  0  0  0  0  1  0  0  0  0 50  0  2  0]
 [ 0  0  0  0  0  0  0  1  0  0  0  0  0  0 56  0  0]
 [ 3  2  2  0  1  3  0  0  0  1  0  0  0  4  0 47  0]
 [ 0  0  3  4  1  0  1  1  1  0  0  0  0  0  0  0 58]]

In [27]:
# test
print("Actual Label :", y_test.iloc[10])
print("Model Prediction :",model.predict(X_test_scaled[10].reshape(1,-1))[0])
if y_test.iloc[10]==model.predict(X_test_scaled[10].reshape(1,-1)):
    print("Wow! Model doing well.....")
else:
    print("not sure......")

Actual Label : 12
Model Prediction : 12
Wow! Model doing well.....

In [28]:
import pickle

# SAVE FILES
pickle.dump(scaler,open("model/scaler.pkl",'wb'))
pickle.dump(model,open("model/ourmodel.pkl",'wb'))

In [29]:
# Load the scaler, label encoder, and model
scaler = pickle.load(open("model/scaler.pkl", 'rb'))
model = pickle.load(open("model/ourmodel.pkl", 'rb'))

In [30]:
import pickle
import numpy as np

# Load the scaler, label encoder, model, and class names
scaler = pickle.load(open("model/scaler.pkl", 'rb'))
Model = pickle.load(open("model/ourmodel.pkl", 'rb'))
class_names = ['Lawyer', 'Doctor', 'Government Officer', 'Artist', 'Unknown',
               'Software Engineer', 'Teacher', 'Business Owner', 'Scientist',
               'Banker', 'Writer', 'Accountant', 'Designer',
               'Construction Engineer', 'Game Developer', 'Stock Investor',
               'Real Estate Developer']

def Recommendations(gender, part_time_job, absence_days, extracurricular_activities,
                    weekly_self_study_hours, math_score, history_score, physics_score,
                    chemistry_score, biology_score, english_score, geography_score,
                    total_score,average_score):
    
    # Encode categorical variables
    gender_encoded = 1 if gender.lower() == 'female' else 0
    part_time_job_encoded = 1 if part_time_job else 0
    extracurricular_activities_encoded = 1 if extracurricular_activities else 0
    
    # Create feature array
    feature_array = np.array([[gender_encoded, part_time_job_encoded, absence_days, extracurricular_activities_encoded,
                               weekly_self_study_hours, math_score, history_score, physics_score,
                               chemistry_score, biology_score, english_score, geography_score,total_score,average_score]])
    
    # Scale features
    scaled_features = scaler.transform(feature_array)
    
    # Predict using the model
    probabilities = model.predict_proba(scaled_features)
    
    # Get top five predicted classes along with their probabilities
    top_classes_idx = np.argsort(-probabilities[0])[:5]
    top_classes_names_probs = [(class_names[idx], probabilities[0][idx]) for idx in top_classes_idx]
    
    return top_classes_names_probs

In [31]:
# Example usage 
final_recommendations = Recommendations(gender='female',
                                        part_time_job=False,
                                        absence_days=2,
                                        extracurricular_activities=False,
                                        weekly_self_study_hours=7,
                                        math_score=65,
                                        history_score=60,
                                        physics_score=97,
                                        chemistry_score=94,
                                        biology_score=71,
                                        english_score=81,
                                        geography_score=66,
                                        total_score=534,
                                        average_score=76.285714)

print("Top recommended studies with probabilities:")
print("="*50)
for class_name, probability in final_recommendations:
    print(f"{class_name} with probability {probability}")

Top recommended studies with probabilities:
==================================================
Teacher with probability 0.75
Real Estate Developer with probability 0.07
Government Officer with probability 0.07
Unknown with probability 0.05
Artist with probability 0.02

In [32]:
# sklear version in pychar production 
import sklearn
print(sklearn.__version__)

1.4.1.post1